*.sh
*settings_local*
*.swp
*.swo
*.pyc
db.sqlite3
venv/*
static/bin/
static/Builds/
static/music
static/analytics
venv-numberspark/
push.sh
*.DS_Store
static/admin/
notes.txt
settings_local.js
main-copy.js
mainoldversion.js