<html>
<head>
    <!-- prevent pinch-zoom for Chrome / old Safari -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- prevent cache (developing -->
    <meta http-equiv="Cache-control" content="no-cache">

    <!-- Odometr includes -->
    <!-- <link rel="stylesheet" href="/static/css/odometer/odometer-theme-plaza.css?{% now "U" %}" />  -->
    <link rel="stylesheet" href="/static/css/odometer/odometer-theme-digital-modified.css?{% now "U" %}" /> 
    <script src="/static/js/odometer/odometer.js?{% now "U" %}"></script>
    <!-- /Odomoter -->

    <link rel="stylesheet" href="/static/css/index.css?{% now "U" %}" />
    <link rel="stylesheet" href="/static/css/slider.css?{% now "U" %}" />
    <link rel="stylesheet" href="/static/css/chatgpt-loadscreen.css?{% now "U" %}" />

    <script> const csrf = "{{ csrf }}" </script>
</head>
<body>
<div id="main">
    <div id="titleBg"></div>
    <div id="gameBg"></div>
    <div id="top">
        <div class='pressableBtn icon' id="settingsIcon"></div>
        <div class='pressableBtn icon' id="creditsIcon">Credits</div>
        <div id="gameTitle">NumberSpark</div>
        <div id="levelTitle">Level 1</div>
        <div id="odometer" class="scoreboard odometer">0</div>

    </div>

    <div id="creditsBackboard">
        <div id="credits">
            <ul>
                <li>Lead Game Designer: <span>Federico Chialvo</span>
                <li>Code Wizard: <span>Charlie Van Norman</span>
                <li>SFX and Music: <span>Jordan Mendelovitch</span>
                <li>UX/UI Designer: <span>Sonia Leticia</span>
                <li>Art Direction and UX/UI Design: <span>Ayu Othman</span>
                <li> 
                    <span style='color:black'>. . . .</span>*
                    <span style='color:black'>. . . .</span>*
                    <span style='color:black'>. . . .</span>*
                    <span style='color:black'>. . . .</span>*
                    <span style='color:black'>. . . .</span>*
                    <span style='color:black'>. . . .</span>*
                <li>Number Spark is brought to you by <span><a href="https://joyfulmathematics.com" target="_blank">Joyful Mathematics</a><span>
                <li>The makers of <span><a href="http://joyfulmathematics.com/multi" target="_blank">MULTI</a></span> and <span><a href="http://joyfulmathematics.com/numeroso" target="_blank">Numeroso</a></span>
            </ul>
        </div>

    </div>

    <div id="settingsBackboard">
        <div id="settings">
            <label for="slider-fill">SFX Volume:</label>
            <input type="range" name="slider-fill" id="soundVolume" value="100" min="0" max="100" data-highlight="true">
            <br />
            <br />
            <label for="slider-fill">Music Volume:</label>
            <input type="range" name="slider-fill" id="musicVolume" value="100" min="0" max="100" data-highlight="true">
            <br />
            <br />
            <br />
            How To Play
            <ul>
                <li> Click a number tile to show its factors.</li>
                <li> Click a factor to explode the tile.</li>
                <li> When tiles explode, they explode neighbors IF they share a factor, OR if both are prime.
                <li> Win the level by clearing the board.</li>
                <li> Chain together more explosions for more points!</li>
                <li> Iced numbers must be melted before they can explode. Melt them by exploding their neighbors who share a factor.</li>
                <li> Rocks cannot be exploded. </li>

        </div>
    </div>
    <div id="levelSkip"> 
        <div class="tutorialTitle">Select level:</div>
        <div id="levels"></div>
    </div>
    <div class="pressableBtn icon" id="startGame">PLAY</div>
<!--    <div class="pressableBtn icon" id="startGameAt7">SELECT LEVEL</div>-->
    <div class="pressableBtn icon" id="startDailyShuffle">DAILY SHUFFLE</div>
    <!-- <div class="pressableBtn icon" id="selectLevel">SELECT LEVEL </div> -->
    <div id="tutorialScreen" class="screen">
        <div class="tutorialTitle">TUTORIAL</div>
        <div class="tutorialTip">
            <ol id="tutList" style="list-style-type:none">
            </ol>
        </div>
        <div class="tutorialPic">
            <video id="tutVid" autoplay loop muted webkit-playsinline playsinline width="300px" height="200px" /> 
                <source id="tutSrc" src="/static/mov/tut_exp.mp4" type="video/mp4">
            </video>
        </div>
        <div class="pressableBtn icon" id="nextTutorial">OK (1/4)</div>
    </div>
     <div id="tip"></div>
     <div id="tipGraphic" class="pulseGlow"></div>
     
     <div id="winScreen" class="screen">
        <div id="win2">&#9734;&#9734;&#9734;</div>
        <div class="winText">Level won!</div>
        <div class="pressableBtn icon" id="nextLevel">NEXT LEVEL</div>
    </div>
    <div id="dailyShuffleScoreboard" class="screen">
        <div id="dailyTitle"> DAILY SHUFFLE HIGH SCORE</div>
        <div id="dailyDate"> DAILY SHUFFLE HIGH SCORE</div>
        <div id="highScores"> 123</div>

        <div class="pressableBtn icon restartGame restartDaily">MAIN MENU</div>
    </div>
    <div id="loseScreen" class="screen">
        <div class="title"></div>
        <div class="text"></div>
        <div class="pressableBtn icon restartLevel">Try again?</div>
        <div class="pressableBtn icon restartGame">Exit</div>
    </div>
    <div id="bottom">
         <div id="deck" class="icon">
            <div id="deckIcon"></div>
            <div id="cardsLeft">16 / 16</div>
        </div>
         <div id="energy" class="icon">
            <div id="energyIcon"></div>
            <div id="lives"></div>
        </div>
         <div id="swap" class="icon pressableBtn">
            <div id="swapIcon" class=""></div>
            <div id="swapsLeft"></div>
        </div>
    </div>
    <div id="game">

        <div id="backBoard"></div>
    </div>
   
    </div>
    </div>

<!-- chatgpt-loadingscreen -->
<div class="loading-screen">
  <div class="logo">
    <!-- Add your logo here -->
  </div>
  <div class="enterPin">Enter PIN</div>
  <div class="pin-entry">
    <div class="pin-box selected">
      <input class="pin" inputmode="numeric" maxlength="1">
    </div>
    <div class="pin-box">
      <input class="pin" type="number" inputmode="numeric" maxlength="1">
    </div>
    <div class="pin-box">
      <input class="pin" type="number" inputmode="numeric" maxlength="1">
    </div>
    <div class="pin-box">
      <input class="pin" type="number" inputmode="numeric" maxlength="1">
    </div>
  </div>
</div>



<script src="/static/js/jquery-min.js?{% now "U" %}"></script>
<script src="/static/js/easing.js?{% now "U" %}"></script>
<script src="/static/js/util.js?{% now "U" %}"></script>
<script src="/static/js/particles.js?{% now "U" %}"></script>
<script src="/static/js/sound.js?{% now "U" %}"></script>
<script src="/static/js/debug.js?{% now "U" %}"></script>
<script src="/static/js/screenManager.js?{% now "U" %}"></script>
<script src="/static/js/main.js?{% now "U" %}"></script>
<script src="/static/js/data.js?{% now "U" %}"></script>
<script src="/static/js/settings.js?{% now "U" %}"></script>
<script src="/static/js/gameBoard.js?{% now "U" %}"></script>
<script src="/static/js/levels.js?{% now "U" %}"></script>
<script src="/static/js/levels/generated.js?{% now "U" %}"></script>
<script src="/static/js/sfx.js?{% now "U" %}"></script>
<script src="/static/js/nothing.js?{% now "U" %}"></script>
<script src="/static/js/chatgpt-loadscreen.js?{% now "U" %}"></script>

</body>
</html>
